select {
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0em;
    box-sizing: border-box;
    border: 2px solid #245;
    border-radius: 4px solid #245;
  }
  
  .seat-reservation {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 1em;
  }
  
  .select-container .btn {
    text-align: center;
    color: white;
    background-color: #245;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    margin-right: 15px;
    padding: 0.5em 1.5em;
  }

  .select-container .btn:hover,
  .select-container .btn:active,
  .select-container .btn:focus {
    color: #23cca2;
    border-radius: 4px solid #23cca2;
    background-color: white;
  }
  
  @media only screen and (max-width: 650px) {
    .seat-reservation {
      width: 100%;
    }
  }