.search-form input {
    border: 2px solid #23cca2;
    border-radius: 4px;
  }
  
  .search-reservations {
    text-align: center;
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 1em;
  }
  
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }
  
  .search-form .btn {
    text-align: center;
    color: white;
    /* background-color: black; */
    background-color: #245;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    padding: 0.5em 1.5em;
  }

  .search-form .btn:hover,
  .search-form .btn:active,
  .search-form .btn:focus {
    color: #23cca2;
    border-radius: 4px solid #23cca2;
    background-color: white;
  }
  
  .match-header {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.875rem;
    margin-bottom: 0em;
    padding: 0.5em;
  }
  
  @media only screen and (max-width: 650px) {
    .search-reservations {
      width: 100%;
    }
  }