.search-form input {
    border: 1px solid #08b2e3;
    border-radius: 4px;
  }
  
  .search-reservations {
    text-align: center;
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 1em;
  }
  
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }
  
  .search-form .btn {
    text-align: center;
    color: white;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.5em 1.5em;
  }
  
  .match-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.875rem;
    margin-bottom: 0em;
    padding: 0.5em;
  }
  
  @media only screen and (max-width: 650px) {
    .search-reservations {
      width: 100%;
    }
  }