input {
    width: 100%;
    padding: 0.75em 1.25em;
    margin: 0.5em 0em;
    box-sizing: border-box;
    border: 1px solid #245;
    border-radius: 4px;
  }
  
  .new-reservation {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 1em;
  }
  
  .reservation-form .btn {
    text-align: center;
    color: white;
    background-color: #245;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    margin-right: 1em;
    padding: 0.5em 1.5em;
  }
  
  @media only screen and (max-width: 650px) {
    .new-reservation {
      width: 100%;
    }
  }
  