.reservations-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    margin: 2em auto;
    text-align: center;
  }
  
  .card-header {
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #245;
    text-shadow: 0 1px 0 rgb(0 0 0 / 20%);
  }
  
  .list-group-item {
    padding: 0.5em 1em;
  }
  
  .list-group-item .btn {
    color: white;
    background-color: #245;
    border: 2px solid #245;
    border-radius: 4px;
    margin: 0.25em;
    padding: 0.5em 1em;
    font-size: 0.875rem;
  }
  
  /* .list-group-item .btn:hover {
    background-color: #1ef3cf;
    color: white;
  } */

  .list-group-item .btn:hover,
  .list-group-item .btn:active,
  .list-group-item .btn:focus {
    color: #245;
    border: 2px solid #23cca2;
    /* border-radius: 4px solid #23cca2; */
    background-color: white;
  }
  
  .card-footer {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .no-buttons {
    height: 28px;
  }
  
  @media only screen and (max-width: 850px) {
    .reservations-list {
      display: flex;
      flex-direction: column;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .list-group-item .btn {
      font-size: 0.875rem;
      padding: 0.25em 1em;
    }
  }
  