body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}

*{
  border-radius: 0 !important;
}

/*Menu*/

.sidebar-brand-text {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #00ffc8;
}

.side-bar {
  /* background-color: #1B1B1E; */
  background-color: #245;
  min-width: 235px;
}

/*Head*/

h1, h2 {
  font-family: 'Gill Sans', 'Gill Sans MT';
  color: #323238;
  text-align: center;
}

.headingBar {
  font-size: larger;
  background-color:#00ff95;
}

.btn-dark {
  background-color: #245;
  color: #e5e5ec
}

.btn-dar:hover,
.btn-dar:active,
.btn-dar:focus {
  color: #23cca2;
  /* border-radius: 4px solid #23cca2; */
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .frame {
    flex-direction: column;
  }
}