.main {
    margin: 0 auto;
    width: 75%;
  }
  
  .dashboard-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    background-color: black;
    color: white;
    margin: 2em auto;
    padding: 1.5em;
    border-radius: 20px;
  }
  
  .dashboard-header-text {
    padding: 0.5em;
  }
  
  .dashboard-header .btn {
    font-size: 1rem;
    color: black;
    background-color: white;
    transition-duration: 0.3s;
    padding: 0.5em 1.25em;
  }
  
  .dashboard-header .btn:hover {
    background-color: #08b2e3;
    color: white;
    border: 1px solid black;
  }
  
  @media only screen and (max-width: 850px) {
    .main {
      width: 100%;
      margin: 0 auto;
      padding: 1em;
    }
  
    .dashboard-header {
      border-radius: 10px;
    }
  }
  
  @media only screen and (max-width: 750px) {
    .dashboard-header h1 {
      font-size: 2rem;
    }
  
    .dashboard-header h4 {
      font-size: 1.25rem;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .dashboard-header h1 {
      font-size: 1.5rem;
    }
  
    .dashboard-header h4 {
      font-size: 1rem;
    }
  
    .dashboard-buttons .btn {
      font-size: 0.875rem;
      padding: 0.25em 0.5em;
    }
  }
  