.table-form .btn {
    text-align: center;
    color: white;
    background-color: #245;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    margin-right: 1em;
    padding: 0.5em 1.5em;
  }
  
  .new-table {
    background-color: white;
    width: 75%;
    margin: 0 auto;
    padding: 1em;
  }
  
  @media only screen and (max-width: 650px) {
    .new-table {
      width: 100%;
    }
  }
  