.tables-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1em;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    margin: 2em auto;
    text-align: center;
  }
  
  .table {
    margin: 0 auto;
  }
  
  .tables-header {
    text-align: center;
    background-color: #245;
    color: white;
    border-radius: 20px;
    padding: 1em 0em;
    margin-bottom: 2em;
  }
  
  .tables-header h3 {
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    margin: 0em;
  }
  
  .finish-button {
    color: white;
    background-color: #245;
    border-radius: 5px;
    margin: 0.25em;
    padding: 0.5em 1em;
    font-size: 0.875rem;
  }
  
  .finish-button:hover {
    background-color: #ffffff;
    color: #245;
  }
  
  @media only screen and (max-width: 850px) {
    .tables-list {
      display: flex;
      flex-direction: column;
    }
  
    .table {
      max-width: none;
    }
  
    .tables-header {
      border-radius: 10px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .finish-button {
      font-size: 0.875rem;
      padding: 0.25em 1em;
    }
  
    .tables-header h3 {
      font-size: 1.5rem;
    }
  }
  