#root,
html {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #23cca2,
    rgb(122, 235, 197),
    white
  );
}

/* 

tealish-blue: 
  hex - #189ca6 
  rgb(24, 156, 166)
  hsl(184, 75%, 37%)
*/
/* 

darkish-blue: 
  hex - #24333c 
  rgb(36, 51, 60)
  hsl(203, 25%, 19%)
*/
/*
    #23cca2,
    rgb(122, 235, 197),
    white
*/